.deps/
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.cache
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
/build-aux/
/doc/html/
/doc/latex/
/doc/xml/
*.o
*.lo
*.la
*.log
*.trs
.DS_Store
deepseek_mpi
deepseek_mpi.exe
deepseek_mpi.log
tags
